@font-face {
  font-family: 'ACCchildrenheartOTF-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color:  black;
  font-family: 'ACCchildrenheartOTF-Regular';
}

/* 이미지박스 */
.img-box{
  width: 1280px;
  margin: 2em auto;
}
.img-box h1{
  text-align: center;
  color: white;
  font-size: 70px;
}
/* 텍스트박스 */
.img-box ul{
  list-style: none;
}
.img-box ul li{
  width: 21%;
  display: inline-block;
  margin: 1em 1.5em 0 0;
}
.img-box ul li a{
  padding-bottom: 10px;
  display: block;
  background-color: rgb(126, 126, 126);
  border-radius: 50% 50% 30px 30px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
/* 이미지 */
.img-box ul li a img{
  width: 100%;
  transition: 1.5s;
}
.img-box ul li a img:hover{
  transform: scale(1.5);
}
.img-box ul li a .screen{
  overflow: hidden;
  height: 250px;
}
.screen{
  border-radius: 50%;
}